body {
    font-family: Arial, sans-serif;
    background: url(../img/pic1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background:#d6dadf78;
    padding: 2rem;
    border-radius: 12px;
   
    width: 300px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  form label {
    display: block;
    margin-bottom: 3px;
    margin-top: 4px;
  }
  
  form input {
    width: 100%;
    padding: 4px;
    margin-bottom: 5px;
    border: 1px solid #700c0c;
    border-radius: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: #1d1adb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background: #2c9b99;
  }
  
  .link {
    text-align: center;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
    text-align: center;
  }
  .success-message {
    color: green;
    margin-top: 5px;
    text-align: center;
  }
  

  